{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1 class="title">Welcome, {{ username }}!</h1>
  {% include 'flash.html' %}
  <!-- <a href="/static/files/cheat_sheet.pdf">Download Your File</a> -->
  <!-- <a href="{{ url_for('download', filename='cheat_sheet.pdf') }}">Download Your File</a> -->

  <!-- This makes a button look like an anchor tag link that sends a POST request
       which allows us to pass the filename in the message body instead of as a query in the URL -->
  <form method="post" action="{{ url_for('download') }}" class="inline">
  <!-- <input type="hidden" name="extra_parameter_to_submit" value="extra_value"> -->
  <button type="submit" name="filename" value="cheat_sheet.pdf" class="link-button">
    Download Your File
  </button>
    <p></p>
  <button type="submit" name="filename" value="my_secrets.txt" class="link-button">
    Download Your Secrets
  </button>
    <p></p>
  </form>
</div>
{% endblock %}
